$Tab: 760px;
$BigTab: 1024px;
$Desktop: 1500px;


@mixin Tab {
    @media (min-width: #{$Tab}) {
        @content;
    }
}

@mixin  BigTab {
    @media(min-width: #{$BigTab}) {
        @content;
    }    
}

@mixin Desktop {
    @media(min-width: #{$Desktop}) {
        @content;
    }
}


main {
    .dimensions {
        width: 80%;
        height: auto;
        margin: 15% auto 0 auto;
        background: white;
        box-shadow: 0 0 2px gray;
        border-radius: 10px;
        text-align: center;

        @include BigTab {
            width: 70%;
        }
        
        @include Desktop {
            width: 40%;
            margin-top: 5%;
        }

        .signin {
            padding-top: 10px;
            margin-bottom: 20px;
            font-size: 1.4rem;
            font-weight: bolder;
            color: #212121;
        }

        .email {
            margin: 30px auto;
            position: relative;

            input {
                display: block;
                border: none;
                outline: none;
                margin: 5px auto;
                width: 80%;
                height: 2.7rem;
                box-shadow: 0 0 1px gray;
                border-radius: 10px;
                text-indent: 35px;
                font-size: 1rem;

                @include Tab {
                    text-indent: 45px;
                }
            }

            ::placeholder {
                font-size: 1rem;
            }

            svg {
                position: absolute;
                top: 0;
                left: 0;
                margin-top: 13px;
                margin-left: 12%;
                opacity: 0.5;  
                
                @include Tab {
                    margin-top: 12px;
                }
            }
            
        }
        .password {
            margin: 30px auto;
            position: relative;

            input {
                display: block;
                border: none;
                outline: none;
                margin: 5px auto;
                width: 80%;
                height: 2.7rem;
                box-shadow: 0 0 1px gray;
                border-radius: 10px;
                text-indent: 35px;
                font-size: 1rem;

                @include Tab {
                    text-indent: 45px;
                }
            }

            ::placeholder {
                font-size: 1rem;
            }

            svg {
                position: absolute;
                top: 0;
                left: 0;
                margin-top: 13px;
                margin-left: 12%;
                opacity: 0.5;  
                
                @include Tab {
                    margin-top: 12px;
                }
            }
            
        }

        .error {
            display: block;
            color: red;
            margin-top: -20px;
            font-weight: 700;
            text-align: center;
        }

        .hidden {
            display: none;
        }

        .submit-btn {
            margin-bottom: 20px;
            width: 40%;
            height: 30px;
            border: none;
            outline: none;
            background: transparent;
            box-shadow: 0 1px 1px gray;
            border-radius: 10px;
            font-size: 1.1rem;
            font-weight: bold;
            color: #212121;

            @include Tab {
                width: 25%;
            }
        }

        .or {
            font-weight: bold;
            color: #1e8ae2;
            margin-bottom: 10px;
        }

        .register-btn {
            margin-bottom: 20px;
            border: none;
            outline: none;
            background: transparent;
            border-radius: 10px;
            font-size: 1rem;
            font-weight: bold;
            color: #212121;
        }


    }
}