main .cards {
  width: 95%;
  height: auto;
  margin-left: 2.5%;
  border-radius: 6px;
}

@media (min-width: 760px) {
  main .cards {
    margin: 40px auto;
    width: 65%;
    -webkit-box-shadow: 0 2px 5px #9e9e9e;
            box-shadow: 0 2px 5px #9e9e9e;
  }
}

@media (min-width: 1024px) {
  main .cards {
    width: 55%;
  }
}

@media (min-width: 1500px) {
  main .cards {
    width: 40%;
  }
}

main .cards .card-box .card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  height: 40px;
  color: #212121;
  background: transparent;
  margin-left: 2.5%;
  margin-bottom: 20px;
  border: none;
  outline: none;
  font-size: 1rem;
}

main .cards .card-box ::-webkit-input-placeholder {
  color: #9e9e9e;
  font-size: 1rem;
  font-weight: bold;
}

main .cards .card-box :-ms-input-placeholder {
  color: #9e9e9e;
  font-size: 1rem;
  font-weight: bold;
}

main .cards .card-box ::-ms-input-placeholder {
  color: #9e9e9e;
  font-size: 1rem;
  font-weight: bold;
}

main .cards .card-box ::placeholder {
  color: #9e9e9e;
  font-size: 1rem;
  font-weight: bold;
}

main .cards .details .card-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  color: #212121;
  background: transparent;
  margin-left: 2.5%;
  border: none;
  overflow: auto;
  font-size: 1rem;
  z-index: 50;
  outline: none;
  margin-bottom: 10px;
  resize: none;
}

main .cards .details ::-webkit-input-placeholder {
  color: #9e9e9e;
  font-size: 1rem;
  font-weight: bold;
}

main .cards .details :-ms-input-placeholder {
  color: #9e9e9e;
  font-size: 1rem;
  font-weight: bold;
}

main .cards .details ::-ms-input-placeholder {
  color: #9e9e9e;
  font-size: 1rem;
  font-weight: bold;
}

main .cards .details ::placeholder {
  color: #9e9e9e;
  font-size: 1rem;
  font-weight: bold;
}

main .cards .more-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 24px;
  position: relative;
}

@media (min-width: 1500px) {
  main .cards .more-options {
    cursor: pointer;
  }
}

main .cards .more-options .more-ver {
  margin-bottom: 10px;
}

main .cards .more-options .options {
  display: none;
  position: absolute;
  top: 10px;
  right: 0;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 6px;
  width: 7rem;
  height: auto;
  padding: 10px 20px;
  background: white;
  -webkit-box-shadow: 0 1px 3px rgba(63, 62, 62, 0.22), 0 1px 7px rgba(17, 16, 16, 0.24);
          box-shadow: 0 1px 3px rgba(63, 62, 62, 0.22), 0 1px 7px rgba(17, 16, 16, 0.24);
}

main .cards .more-options .options .op-list {
  padding: 3px 0;
  font-size: 0.9rem;
  text-align: left;
  color: #212121;
  font-weight: 600;
}

@media (min-width: 1500px) {
  main .cards .more-options .options .op-list {
    cursor: pointer;
  }
}

main .cards .more-options .vis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .light {
  background: white;
  -webkit-box-shadow: 0 1px 3px rgba(63, 62, 62, 0.22), 0 1px 7px rgba(17, 16, 16, 0.24);
          box-shadow: 0 1px 3px rgba(63, 62, 62, 0.22), 0 1px 7px rgba(17, 16, 16, 0.24);
}

main .dark {
  background: #212121;
  -webkit-box-shadow: 0 0px 1px rgba(223, 221, 221, 0.973), 0 0px 2px #fcfbfb;
          box-shadow: 0 0px 1px rgba(223, 221, 221, 0.973), 0 0px 2px #fcfbfb;
}

main .dark .card-box .card-title {
  color: white;
}

main .dark .card-box ::-webkit-input-placeholder {
  color: #9e9e9e;
}

main .dark .card-box :-ms-input-placeholder {
  color: #9e9e9e;
}

main .dark .card-box ::-ms-input-placeholder {
  color: #9e9e9e;
}

main .dark .card-box ::placeholder {
  color: #9e9e9e;
}

main .dark .details .card-details {
  color: white;
}

main .dark .details ::-webkit-input-placeholder {
  color: #9e9e9e;
}

main .dark .details :-ms-input-placeholder {
  color: #9e9e9e;
}

main .dark .details ::-ms-input-placeholder {
  color: #9e9e9e;
}

main .dark .details ::placeholder {
  color: #9e9e9e;
}

main .dark .more-options .options {
  background: #212121;
  -webkit-box-shadow: 0 0px 1px rgba(223, 221, 221, 0.973), 0 0px 2px #fcfbfb;
          box-shadow: 0 0px 1px rgba(223, 221, 221, 0.973), 0 0px 2px #fcfbfb;
}

main .dark .more-options .options .op-list {
  color: white;
}
/*# sourceMappingURL=cards.css.map */