$Tab: 760px;
$BigTab: 1024px;
$Desktop: 1500px;

@mixin Tab {
    @media (min-width: #{$Tab}) {
        @content;
    }
}

@mixin  BigTab {
    @media(min-width: #{$BigTab}) {
        @content;
    }    
}

@mixin Desktop {
    @media(min-width: #{$Desktop}) {
        @content;
    }
}


header {

    .hr1 {
        margin: 0;
        margin-left: -39px;
        width: 16.3rem;
        height: 1px;
        background: #757575;
        border : 1px #757575;
        opacity: 0.5;
    }

    .hr2 {
        margin: 0;
        margin-left: -39px;
        width: 16.3rem;
        height: 1px;
        background: #757575;
        border : 1px #757575;
        opacity: 0.5;
    }

    .nav-light {

        display: flex;
        flex-direction: row;
        background: white;
        height: 60px;
        box-shadow: 0 1px #cfd8dc  ;
        overflow: auto;

       
        
        .hamberger {
            margin-top: 15px;

            @include BigTab {
                z-index: 1500;
            }

            @include Desktop {
                margin-left: 40px;
                cursor: pointer;
            }

            .menu {
                width: 30px;
                margin-left: 10px;

                @include Desktop {
                    width: 25px;
                    opacity: 0.8;
                }
            }
        }

        .logo-black {
            margin-top: 15px;
            margin-left: 15%;
            font-size: 1.3rem;
            font-weight: bold;
            color: #212121;

            @include Tab {
                margin-left: 3%;
            }

            @include Desktop {
                margin-left: 6%;
                cursor: pointer;
            }


        }

        .icons {
            display: flex;
            flex-direction: row;
            margin-left: 10%;

            @include Tab {
                margin-left: 5%;
            }

            @include BigTab {
                margin-left: 12%;
            }

            @include Desktop {
                cursor: pointer;
                margin-left: 5%;
            }
            
            .searchbar {   
                
                .back {
                    display: none;
                    position: absolute;
                    top: 1.5%;
                    width: 25px;
                    margin-top: 5px;
                    left: 1%;
                    z-index: 12;
                    opacity: 0.5;
                }
                
                .back-v {
                    display: flex;

                    @include Tab {
                        display: none;
                    }
                }
                
                .search {
                    width: 30px;
                    margin-top: 15px;
                    margin-right: 5px;
                    z-index: 10;

                    @include Tab {
                        display: none;
                    }
                }

                .hide {
                    visibility: hidden;

                    @include Tab {
                        display: none;
                    }
                } 
                
                .search-input {
                    top: 0.7%;
                    display: none;
                    position: absolute;
                    width: 0;
                    height: 6%;
                    background: white;
                    border: none;
                    outline: none;
                    font-size: 1rem;            
                    text-indent: 30px;

                    @include Tab {
                        display: flex;
                        position: relative;
                        background: #eeeeee;
                        margin-top: 5px;
                        width: 400px;
                        height: 50px;
                        border-radius: 10px;
                        box-shadow: 0;
                        z-index: 11;
                    }

                    @include BigTab {
                        width: 500px;
                    }

                    @include Desktop {
                        width: 700px;
                    }
                }

                .shadow-box {
                    @include Tab {
                        box-shadow: 0 0 2px 2px #cfd8dc ;
                    }
                }
                
                .expand-search {
                    display: flex;
                    left: 1%;
                    width: 60%;
                    border-radius: 10px;
                    box-shadow: 0 0 2px 2px #cfd8dc ;
                    z-index: 11;
                }
                
                ::placeholder {
                    color: #263238;
                    font-weight: bold;
                    font-size: 1rem;
                    opacity: 0.5;

                    @include Tab {
                        color: #757575;
                        opacity: 1;
                        font-weight: inherit;
                    }
                }
                
            }    
            
            .refresh {
                width: 30px;
                margin-top: 7px;
                margin-left: 7px;
                margin-right: 10px;

                @include Tab {
                    margin-left: 20px;
                }

                @include Desktop {
                    margin-left: 150px;
                }
            }
            
            .dark {
                width: 30px;
                margin-top: 15px;
                margin-left: 10px;

                @include Tab {
                    margin-top: 13px;
                    margin-left: 40px;
                    opacity: 0.9;
                }

                 @include Desktop {
                    margin-left: 170px;
                }
            }
            
            .account {
                width: 35px;
                height: 35px;
                background: #004d40;
                border-radius: 50%;
                margin-left: 20px;
                margin-top: 11px;

                @include Tab {
                    margin-left: 100%;
                }
            }
        }
        
        .nav-links {
            display: flex;
            flex-direction: column;
            position: absolute;
            margin-top: 0;
            left: -26rem;
            list-style: none;
            background: white;
            width: 14rem;
            height: 100%;
            z-index: 100;
            transition: all 300ms ease-in-out;

            @include BigTab {
                background: transparent;
                margin-top: 5%;
                width: 30%;
                height: 90%;
                z-index: 0;
            }

            @include Desktop {
                margin-top: 0;
                cursor: pointer;
            }

            .close-nav {
                width: 25px;
                position: absolute;
                top: 2.3%;
                right: 5%;
                z-index: 20;

                @include BigTab {
                    display: none;
                }
            }

            .nav-line {
                margin-top: 0;
                background: #eeeeee ;
                box-shadow: 0 1px #cfd8dc  ;
                width: 16.5rem;
                height: 60px;
                display: flex;
                position: absolute;
                left: 0;
                top: 0;

                @include BigTab {
                    display: none;
                }
            }

            .logo-nav-black {
                position: absolute;
                top: 0;
                margin-top: 30%;
                left: 10%;
                font-size: 1.4rem;
                font-weight: bold;
                color: #212121;

                @include BigTab {
                    display: none;
                }
                
            }

            .links-notes {
                font-size: 1rem;
                font-weight: bold;
                color: #212121;
                margin-top: 65%;
                margin-bottom: 30px;
                margin-left: 20%;

                @include BigTab {
                    margin-top: 20%;
                }

                .notes-icon {
                    width: 25px;
                    position: absolute;
                    left: 10%;
                    margin-top: 0;
                }
            }

            .links-reminder {
                padding: 10px 0;
                font-size: 1rem;
                font-weight: bold;
                color: #212121;
                margin-top: 1%;
                margin-bottom: 20px;
                margin-left: 20%;

                .reminder-icon {
                    width: 25px;
                    position: absolute;
                    left: 10%;
                }
            }

            .links-edit {
                padding: 40px 0 20px 0;
                font-size: 1rem;
                font-weight: bold;
                color: #263238;
                margin-top: 1px;
                margin-left: 20%;
                margin-bottom: 1px;

                .edit-icon {
                    width: 25px;
                    position: absolute;
                    left: 10%;
                }
            }

            .links-archive {
                padding: 20px 0 0 0;
                font-size: 1rem;
                font-weight: bold;
                color: #263238;
                margin-top: 1px;
                margin-bottom: 30px;
                margin-left: 20%;

                .archive-icon {
                    width: 25px;
                    position: absolute;
                    left: 10%;
                }
            }

            .links-trash {
                font-size: 1rem;
                font-weight: bold;
                color: #263238;
                margin-top: 1px;
                margin-bottom: 15px;
                margin-left: 20%;

                .trash-icon {
                    width: 25px;
                    position: absolute;
                    left: 10%;
                }
            }

            .links-signout {

                padding: 20px 0 0 0;
                font-size: 1rem;
                font-weight: bold;
                color: #263238;
                margin-top: 1px;
                margin-left: 20%;

                .exit-icon {
                    width: 25px;
                    position: absolute;
                    left: 10%;
                }
            }
        }
        
        .open {
            left: 0;
        }
    }   

    // For dark mode---------------------------------------------------------------------------
    
    .nav-dark {
        display: flex;
        flex-direction: row;
        background: black;
        height: 60px;
        box-shadow: 0 1px #424242;
        overflow: auto;

        .hamberger {
            margin-top: 15px;

            @include BigTab {
                z-index: 1500;
            }

            @include Desktop {
                margin-left: 40px;
                cursor: pointer;
            }

            .menu {
                width: 30px;
                margin-left: 10px;

                @include Desktop {
                    width: 25px;
                    opacity: 0.8;
                }
            }
        }

        .logo-white {
            margin-top: 15px;
            margin-left: 15%;
            font-size: 1.3rem;
            font-weight: bold;
            color: white;

            @include Tab {
                margin-left: 3%;
            }

            @include Desktop {
                margin-left: 6%;
            }
        }

        .icons {
            display: flex;
            flex-direction: row;
            margin-left: 10%;

            @include Tab {
                margin-left: 5%;
            }

            @include BigTab {
                margin-left: 12%;
            }

            @include Desktop {
                cursor: pointer;
                margin-left: 5%;
            }
            
            .searchbar {   
                
                .back {
                    display: none;
                    position: absolute;
                    top: 1.5%;
                    width: 25px;
                    margin-top: 5px;
                    left: 1%;
                    z-index: 12;
                    opacity: 0.5;

                    @include Tab {
                        display: none;
                    }
                }
                
                .back-v {
                    display: flex;

                    @include Tab {
                        display: none;
                    }
                }
                
                .search {
                    width: 30px;
                    margin-top: 15px;
                    margin-right: 5px;
                    z-index: 10;

                    @include Tab {
                        display: none;
                    }
                }

                .hide {
                    visibility: hidden;
                } 
                
                .search-input {
                    top: 0.7%;
                    display: none;
                    position: absolute;
                    width: 0;
                    height: 6%;
                    background: white;
                    border: none;
                    outline: none;
                    font-size: 1rem;            
                    text-indent: 30px;

                    @include Tab {
                        display: flex;
                        position: relative;
                        background: #424242;
                        color: white;
                        margin-top: 5px;
                        width: 400px;
                        height: 50px;
                        border-radius: 10px;
                        box-shadow: 0;
                        z-index: 11;
                    }

                    @include BigTab {
                        width: 500px;
                        color: white;
                    }

                    @include Desktop {
                        width: 700px;
                        color: white;
                    }
                }
                
                .expand-search {
                    display: flex;
                    left: 1%;
                    width: 60%;
                    border-radius: 10px;
                    box-shadow: 0 0 2px 2px #cfd8dc ;
                    z-index: 11;
                }
                
                ::placeholder {
                    color: #cfd8dc;
                    font-weight: bold;
                    font-size: 1rem;
                    opacity: 0.5;

                    @include Tab {
                        opacity: 1;
                        font-weight: inherit;
                    }
                }
                
            }     

            .refresh {
                width: 30px;
                margin-top: 7px;
                margin-left: 7px;
                margin-right: 10px;

                @include Tab {
                    margin-left: 20px;
                }

                @include Desktop {
                    margin-left: 150px;
                }
            }
            
            .dark {
                width: 30px;
                margin-top: 15px;
                margin-left: 10px;

                 @include Tab {
                    margin-top: 13px;
                    margin-left: 40px;
                }

                @include Desktop {
                    margin-left: 170px;
                }
            }
            
            .account {
                width: 35px;
                height: 35px;
                background: #004d40;
                border-radius: 50%;
                margin-left: 20px;
                margin-top: 11px;

                @include Tab {
                    margin-left: 100%;
                }
            }
        }
        
        .nav-links {
            display: flex;
            flex-direction: column;
            position: absolute;
            margin-top: 0;
            left: -26rem;
            list-style: none;
            background: black;
            width: 14rem;
            height: 100vh;
            z-index: 1000;
            transition: all 300ms ease-in-out;

            @include BigTab {
                background: transparent;
                margin-top: 5%;
                width: 30%;
                height: 90%;
                z-index: 0;
            }

            @include Desktop {
                margin-top: 0;
                cursor: pointer;
            }

            .close-nav {
                width: 25px;
                position: absolute;
                top: 2.3%;
                right: 5%;
                z-index: 20;

                @include BigTab {
                    display: none;
                }
            }

            .nav-line {
                margin-top: 0;
                background: black;
                box-shadow: 0 1px #424242;
                width: 16.5rem;
                height: 60px;
                display: flex;
                position: absolute;
                left: 0;
                top: 0;

                @include BigTab {
                    display: none;
                }
            }

            .logo-nav-white {
                position: absolute;
                top: 0;
                margin-top: 30%;
                left: 10%;
                font-size: 1.4rem;
                font-weight: bold;
                color: white;

                @include BigTab {
                    display: none;
                }
            }

            .links-notes {
                font-size: 1rem;
                font-weight: bold;
                color: white;
                margin-top: 65%;
                margin-bottom: 30px;
                margin-left: 20%;

                @include BigTab {
                    margin-top: 20%;
                }

                .notes-icon {
                    width: 25px;
                    position: absolute;
                    left: 10%;
                    margin-top: -2px;
                }
            }

            .links-reminder {
                padding: 10px 0;
                font-size: 1rem;
                font-weight: bold;
                color: white;
                margin-top: 1%;
                margin-bottom: 20px;
                margin-left: 20%;

                .reminder-icon {
                    width: 25px;
                    position: absolute;
                    left: 10%;
                }
            }

            .links-edit {
                padding: 40px 0 20px 0;
                font-size: 1rem;
                font-weight: bold;
                color: white;
                margin-top: 1px;
                margin-left: 20%;
                margin-bottom: 1px;

                .edit-icon {
                    width: 25px;
                    position: absolute;
                    left: 10%;
                }
            }

            .links-archive {
                padding: 20px 0 0 0;
                font-size: 1rem;
                font-weight: bold;
                color: white;
                margin-top: 1px;
                margin-bottom: 30px;
                margin-left: 20%;

                .archive-icon {
                    width: 25px;
                    position: absolute;
                    left: 10%;
                }
            }

            .links-trash {
                
                font-size: 1rem;
                font-weight: bold;
                color: white;
                margin-top: 2px;
                margin-bottom: 15px;
                margin-left: 20%;

                .trash-icon {
                    width: 25px;
                    position: absolute;
                    left: 10%;
                }
            }

            .links-signout {

                padding: 20px 0 0 0;
                font-size: 1rem;
                font-weight: bold;
                color: white;
                margin-top: 1px;
                margin-left: 20%;

                .exit-icon {
                    width: 25px;
                    position: absolute;
                    left: 10%;
                }
            }
        }
        
        .open {
            left: 0;
        }
        
    }
    
}