$Tab: 760px;
$BigTab: 1024px;
$Desktop: 1500px;

@font-face {
    font-family: "Google-Medium";
    src: url('../../../assets/fonts/GoogleSans-Medium.ttf');
}

@mixin Tab {
    @media (min-width: #{$Tab}) {
        @content;
    }
}

@mixin  BigTab {
    @media(min-width: #{$BigTab}) {
        @content;
    }    
}

@mixin Desktop {
    @media(min-width: #{$Desktop}) {
        @content;
    }
}


header {

    .hr1 {
        margin: 0;
        margin-left: -39px;
        width: 16.3rem;
        height: 1px;
        background: #757575;
        border : 1px #757575;
        opacity: 0.5;
    }

    .hr2 {
        margin: 0;
        margin-left: -39px;
        width: 16.3rem;
        height: 1px;
        background: #757575;
        border : 1px #757575;
        opacity: 0.5;
    }

    .nav {

        display: flex;
        flex-direction: row;
        height: 55px;
        overflow: auto;      
        
        @include Desktop {
            height: 60px;
        }
        
        .hamberger {
            margin: auto 2%;

            @include BigTab {
                z-index: 1500;
            }

            @include Desktop {
                margin-left: 40px;
                cursor: pointer;
            }

            .menu {
                margin-left: 10%;
                font-size: 1.5rem;
                font-weight: 400;

                @include Desktop {
                    opacity: 0.8;
                }
            }
        }

        .logoImg {
            display: none;
            width: 35px;
            height: 35px;
            margin-top: 10px;

            @include Desktop{
                display: flex;
                width: 40px;
                height: 40px;
                margin-top: 8px;
            }
        }

        .imgHide {
            display: none;
        }

        .logo {
            width: 50px;
            margin-left: 4%;
            padding: 13px 0;
            font-size: 1.3rem;
            color: #424242;

            @include Tab {
                margin-left: 1%;
            }

            @include Desktop {
                margin-left: 5px;
                cursor: pointer;
            }


        }

        .icon-search {
            display: flex;
            flex-direction: row;
            margin-left: 25px;

            @include Tab {
                margin-left: 5%;
            }

            @include BigTab {
                margin-left: 12%;
            }

            @include Desktop {
                cursor: pointer;
                margin-left: 5%;
            }
            
            .searchbar {   
                
                .back {
                    display: none;
                    position: absolute;
                    top: 1.2%;
                    width: 25px;
                    margin-top: 5px;
                    left: 2.5%;
                    z-index: 12;
                    color: #616161;
                }
                
                .back-v {
                    display: flex;

                    @include Tab {
                        display: none;
                    }
                }
                
                .search {
                    margin-top: 15px;
                    z-index: 10;

                    @include Tab {
                        display: none;
                    }
                }

                .hide {
                    visibility: hidden;

                    @include Tab {
                        display: none;
                    }
                } 
                
                .search-input {
                    top: 0.3%;
                    display: none;
                    position: absolute;
                    width: 0;
                    height: 6%;
                    background: white;
                    border: none;
                    outline: none;
                    font-size: 1rem;            
                    text-indent: 40px;

                    @include Tab {
                        display: flex;
                        position: relative;
                        background: #eeeeee;
                        margin-top: 7px;
                        width: 400px;
                        height: 45px;
                        border-radius: 7px;
                        box-shadow: 0;
                        z-index: 11;
                    }

                    @include BigTab {
                        width: 500px;
                    }

                    @include Desktop {
                        width: 700px;
                    }
                }

                .shadow-box {
                    @include Tab {
                        box-shadow: 0 0 2px 2px #cfd8dc ;
                    }
                }
                
                .expand-search {
                    display: flex;
                    left: 1%;
                    width: 60%;
                    border-radius: 10px;
                    box-shadow: 0 0 2px 2px #cfd8dc ;
                    z-index: 11;
                }
                
                ::placeholder {
                    color: #616161;
                    font-weight: 500;
                    font-size: 1rem;
                    opacity: 0.7;

                    @include Tab {
                        color: #757575;
                        opacity: 1;
                        font-weight: bold;
                    }
                }
                
            }

            .icons {
                position: absolute;
                display: flex;
                flex-direction: row;
                right: 5%;
                margin-top: 10px;

                @include Tab {
                    right: 10%;
                }
            
                .refresh {
                    margin: auto 10px;

                    @include Tab {
                        margin-left: 20px;
                    }

                    @include Desktop {
                        margin-left: 40%;
                    }
                }
                
                .dark-icon {
                    margin: auto 0 auto 10px;

                    @include Tab {
                        margin-left: 10px;
                        opacity: 0.9;
                    }

                    @include Desktop {
                        margin-left: 20px;
                    }
                }

                .account-icon {
                    margin: auto 0;
                
                    @include Desktop {
                        margin-left: 8%;
                    }
                    .account {
                        width: 35px;
                        height: 35px;
                        background: #004d40;
                        border-radius: 50%;
                        margin-left: 15px;

                        @include Tab {
                            margin-left: 100%;
                        }
                    }
                }
            }
        }
        
        .nav-links {
            display: flex;
            flex-direction: column;
            position: absolute;
            margin-top: 0;
            left: -26rem;
            list-style: none;
            background: white;
            width: 14rem;
            height: 100%;
            z-index: 100;
            transition: all 300ms ease-in-out;

            @include BigTab {
                background: transparent;
                margin-top: 5%;
                width: 30%;
                height: 90%;
                z-index: 0;
            }

            @include Desktop {
                margin-top: 0;
                background: transparent;
                cursor: pointer;
            }

            .close-nav {
                width: 25px;
                position: absolute;
                top: 2.3%;
                right: 5%;
                z-index: 20;

                @include BigTab {
                    display: none;
                }
            }

            .nav-line {
                margin-top: 0;
                width: 16.5rem;
                height: 55px;
                display: flex;
                position: absolute;
                left: 0;
                top: 0;

                @include BigTab {
                    display: none;
                }
            }

            .line-light{
                background: #eeeeee ;
                box-shadow: 0 1px #cfd8dc  ;
            }

            .line-dark {
                background: #212121;
                box-shadow: 0 1px #424242;
            }

            .logo-nav {
                position: absolute;
                top: 0;
                margin-top: 30%;
                left: 10%;
                font-size: 1.4rem;
                // font-weight: bold;

                @include BigTab {
                    display: none;
                }
                
            }

            .light-logo {
                color: #212121;
            }

            .dark-logo{
                color: white;
            }

            .links-notes {
                font-size: 0.9rem;
                // color: black;
                // font-weight: bold;
                font-family: Google-Medium;
                margin-top: 65%;
                margin-bottom: 30px;
                margin-left: 20%;

                @include BigTab {
                    margin-top: 20%;
                }

                .notes-icon {
                    // color: black;
                    width: 25px;
                    position: absolute;
                    left: 10%;
                    margin-top: 0;
                }
            }

            .links-reminder {
                padding: 10px 0;
                font-size: 0.9rem;
                font-family: Google-Medium;
                // color: black;
                margin-top: 1%;
                margin-bottom: 20px;
                margin-left: 20%;

                .reminder-icon {
                    // color: black;
                    width: 25px;
                    position: absolute;
                    left: 10%;
                }
            }

            .links-edit {
                padding: 40px 0 20px 0;
                font-size: 0.9rem;
                font-family: Google-Medium;
                // color: black;
                // font-weight: bold;
                margin-top: 1px;
                margin-left: 20%;
                margin-bottom: 1px;

                .edit-icon {
                    // color: black;
                    width: 25px;
                    position: absolute;
                    left: 10%;
                }
            }

            .links-archive {
                padding: 20px 0 0 0;
                font-size: 0.9rem;
                font-family: Google-Medium;
                // font-weight: bold;
                // color: black;
                margin-top: 1px;
                margin-bottom: 30px;
                margin-left: 20%;

                .archive-icon {
                    // color: black;
                    width: 25px;
                    position: absolute;
                    left: 10%;
                }
            }

            .links-trash {
                font-size: 0.9rem;
                font-family: Google-Medium;
                // color: black;
                // font-weight: bold;
                margin-top: 1px;
                margin-bottom: 15px;
                margin-left: 20%;

                .trash-icon {
                    // color: black;
                    width: 25px;
                    position: absolute;
                    left: 10%;
                }
            }

            .links-signout {
                // color: black;
                padding: 20px 0 0 0;
                font-size: 0.9rem;
                font-family: Google-Medium;
                // font-weight: bold;
                margin-top: 1px;
                margin-left: 20%;

                .exit-icon {
                    // color: black;
                    width: 25px;
                    position: absolute;
                    left: 10%;
                }
            }
        }

        .links-light {
            color: #616161;
        }

        .links-dark {
            color: white;
        }
        
        .open {
            left: -8px;
        }
    }   

    .light {
        background: white;
        box-shadow: 0 1px #cfd8dc;
    }

    .dark {
        background: #212121;
        box-shadow: 0 1px #424242;

        .logo {
            color: #eeeeee;
        }

        .icons {
            .searchbar {
                .search-input{
                    @include Tab {
                        background: #616161;
                        color: white;
                    }
                }

                ::placeholder {
                    color: #cfd8dc;
                }
            }
        }

        .nav-links {
            background: #212121;

            @include BigTab {
                background: transparent;
            }
        }
    }
}