@font-face {
  font-family: "Google-Medium";
  src: url("../../../assets/fonts/GoogleSans-Medium.ttf");
}

header .hr1 {
  margin: 0;
  margin-left: -39px;
  width: 16.3rem;
  height: 1px;
  background: #757575;
  border: 1px #757575;
  opacity: 0.5;
}

header .hr2 {
  margin: 0;
  margin-left: -39px;
  width: 16.3rem;
  height: 1px;
  background: #757575;
  border: 1px #757575;
  opacity: 0.5;
}

header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 55px;
  overflow: auto;
}

@media (min-width: 1500px) {
  header .nav {
    height: 60px;
  }
}

header .nav .hamberger {
  margin: auto 2%;
}

@media (min-width: 1024px) {
  header .nav .hamberger {
    z-index: 1500;
  }
}

@media (min-width: 1500px) {
  header .nav .hamberger {
    margin-left: 40px;
    cursor: pointer;
  }
}

header .nav .hamberger .menu {
  margin-left: 10%;
  font-size: 1.5rem;
  font-weight: 400;
}

@media (min-width: 1500px) {
  header .nav .hamberger .menu {
    opacity: 0.8;
  }
}

header .nav .logoImg {
  display: none;
  width: 35px;
  height: 35px;
  margin-top: 10px;
}

@media (min-width: 1500px) {
  header .nav .logoImg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40px;
    height: 40px;
    margin-top: 8px;
  }
}

header .nav .imgHide {
  display: none;
}

header .nav .logo {
  width: 50px;
  margin-left: 4%;
  padding: 13px 0;
  font-size: 1.3rem;
  color: #424242;
}

@media (min-width: 760px) {
  header .nav .logo {
    margin-left: 1%;
  }
}

@media (min-width: 1500px) {
  header .nav .logo {
    margin-left: 5px;
    cursor: pointer;
  }
}

header .nav .icon-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 25px;
}

@media (min-width: 760px) {
  header .nav .icon-search {
    margin-left: 5%;
  }
}

@media (min-width: 1024px) {
  header .nav .icon-search {
    margin-left: 12%;
  }
}

@media (min-width: 1500px) {
  header .nav .icon-search {
    cursor: pointer;
    margin-left: 5%;
  }
}

header .nav .icon-search .searchbar .back {
  display: none;
  position: absolute;
  top: 1.2%;
  width: 25px;
  margin-top: 5px;
  left: 2.5%;
  z-index: 12;
  color: #616161;
}

header .nav .icon-search .searchbar .back-v {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 760px) {
  header .nav .icon-search .searchbar .back-v {
    display: none;
  }
}

header .nav .icon-search .searchbar .search {
  margin-top: 15px;
  z-index: 10;
}

@media (min-width: 760px) {
  header .nav .icon-search .searchbar .search {
    display: none;
  }
}

header .nav .icon-search .searchbar .hide {
  visibility: hidden;
}

@media (min-width: 760px) {
  header .nav .icon-search .searchbar .hide {
    display: none;
  }
}

header .nav .icon-search .searchbar .search-input {
  top: 0.3%;
  display: none;
  position: absolute;
  width: 0;
  height: 6%;
  background: white;
  border: none;
  outline: none;
  font-size: 1rem;
  text-indent: 40px;
}

@media (min-width: 760px) {
  header .nav .icon-search .searchbar .search-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    background: #eeeeee;
    margin-top: 7px;
    width: 400px;
    height: 45px;
    border-radius: 7px;
    -webkit-box-shadow: 0;
            box-shadow: 0;
    z-index: 11;
  }
}

@media (min-width: 1024px) {
  header .nav .icon-search .searchbar .search-input {
    width: 500px;
  }
}

@media (min-width: 1500px) {
  header .nav .icon-search .searchbar .search-input {
    width: 700px;
  }
}

@media (min-width: 760px) {
  header .nav .icon-search .searchbar .shadow-box {
    -webkit-box-shadow: 0 0 2px 2px #cfd8dc;
            box-shadow: 0 0 2px 2px #cfd8dc;
  }
}

header .nav .icon-search .searchbar .expand-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 1%;
  width: 60%;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 2px 2px #cfd8dc;
          box-shadow: 0 0 2px 2px #cfd8dc;
  z-index: 11;
}

header .nav .icon-search .searchbar ::-webkit-input-placeholder {
  color: #616161;
  font-weight: 500;
  font-size: 1rem;
  opacity: 0.7;
}

header .nav .icon-search .searchbar :-ms-input-placeholder {
  color: #616161;
  font-weight: 500;
  font-size: 1rem;
  opacity: 0.7;
}

header .nav .icon-search .searchbar ::-ms-input-placeholder {
  color: #616161;
  font-weight: 500;
  font-size: 1rem;
  opacity: 0.7;
}

header .nav .icon-search .searchbar ::placeholder {
  color: #616161;
  font-weight: 500;
  font-size: 1rem;
  opacity: 0.7;
}

@media (min-width: 760px) {
  header .nav .icon-search .searchbar ::-webkit-input-placeholder {
    color: #757575;
    opacity: 1;
    font-weight: bold;
  }
  header .nav .icon-search .searchbar :-ms-input-placeholder {
    color: #757575;
    opacity: 1;
    font-weight: bold;
  }
  header .nav .icon-search .searchbar ::-ms-input-placeholder {
    color: #757575;
    opacity: 1;
    font-weight: bold;
  }
  header .nav .icon-search .searchbar ::placeholder {
    color: #757575;
    opacity: 1;
    font-weight: bold;
  }
}

header .nav .icon-search .icons {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  right: 5%;
  margin-top: 10px;
}

@media (min-width: 760px) {
  header .nav .icon-search .icons {
    right: 10%;
  }
}

header .nav .icon-search .icons .refresh {
  margin: auto 10px;
}

@media (min-width: 760px) {
  header .nav .icon-search .icons .refresh {
    margin-left: 20px;
  }
}

@media (min-width: 1500px) {
  header .nav .icon-search .icons .refresh {
    margin-left: 40%;
  }
}

header .nav .icon-search .icons .dark-icon {
  margin: auto 0 auto 10px;
}

@media (min-width: 760px) {
  header .nav .icon-search .icons .dark-icon {
    margin-left: 10px;
    opacity: 0.9;
  }
}

@media (min-width: 1500px) {
  header .nav .icon-search .icons .dark-icon {
    margin-left: 20px;
  }
}

header .nav .icon-search .icons .account-icon {
  margin: auto 0;
}

@media (min-width: 1500px) {
  header .nav .icon-search .icons .account-icon {
    margin-left: 8%;
  }
}

header .nav .icon-search .icons .account-icon .account {
  width: 35px;
  height: 35px;
  background: #004d40;
  border-radius: 50%;
  margin-left: 15px;
}

@media (min-width: 760px) {
  header .nav .icon-search .icons .account-icon .account {
    margin-left: 100%;
  }
}

header .nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  margin-top: 0;
  left: -26rem;
  list-style: none;
  background: white;
  width: 14rem;
  height: 100%;
  z-index: 100;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

@media (min-width: 1024px) {
  header .nav .nav-links {
    background: transparent;
    margin-top: 5%;
    width: 30%;
    height: 90%;
    z-index: 0;
  }
}

@media (min-width: 1500px) {
  header .nav .nav-links {
    margin-top: 0;
    background: transparent;
    cursor: pointer;
  }
}

header .nav .nav-links .close-nav {
  width: 25px;
  position: absolute;
  top: 2.3%;
  right: 5%;
  z-index: 20;
}

@media (min-width: 1024px) {
  header .nav .nav-links .close-nav {
    display: none;
  }
}

header .nav .nav-links .nav-line {
  margin-top: 0;
  width: 16.5rem;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
}

@media (min-width: 1024px) {
  header .nav .nav-links .nav-line {
    display: none;
  }
}

header .nav .nav-links .line-light {
  background: #eeeeee;
  -webkit-box-shadow: 0 1px #cfd8dc;
          box-shadow: 0 1px #cfd8dc;
}

header .nav .nav-links .line-dark {
  background: #212121;
  -webkit-box-shadow: 0 1px #424242;
          box-shadow: 0 1px #424242;
}

header .nav .nav-links .logo-nav {
  position: absolute;
  top: 0;
  margin-top: 30%;
  left: 10%;
  font-size: 1.4rem;
}

@media (min-width: 1024px) {
  header .nav .nav-links .logo-nav {
    display: none;
  }
}

header .nav .nav-links .light-logo {
  color: #212121;
}

header .nav .nav-links .dark-logo {
  color: white;
}

header .nav .nav-links .links-notes {
  font-size: 0.9rem;
  font-family: Google-Medium;
  margin-top: 65%;
  margin-bottom: 30px;
  margin-left: 20%;
}

@media (min-width: 1024px) {
  header .nav .nav-links .links-notes {
    margin-top: 20%;
  }
}

header .nav .nav-links .links-notes .notes-icon {
  width: 25px;
  position: absolute;
  left: 10%;
  margin-top: 0;
}

header .nav .nav-links .links-reminder {
  padding: 10px 0;
  font-size: 0.9rem;
  font-family: Google-Medium;
  margin-top: 1%;
  margin-bottom: 20px;
  margin-left: 20%;
}

header .nav .nav-links .links-reminder .reminder-icon {
  width: 25px;
  position: absolute;
  left: 10%;
}

header .nav .nav-links .links-edit {
  padding: 40px 0 20px 0;
  font-size: 0.9rem;
  font-family: Google-Medium;
  margin-top: 1px;
  margin-left: 20%;
  margin-bottom: 1px;
}

header .nav .nav-links .links-edit .edit-icon {
  width: 25px;
  position: absolute;
  left: 10%;
}

header .nav .nav-links .links-archive {
  padding: 20px 0 0 0;
  font-size: 0.9rem;
  font-family: Google-Medium;
  margin-top: 1px;
  margin-bottom: 30px;
  margin-left: 20%;
}

header .nav .nav-links .links-archive .archive-icon {
  width: 25px;
  position: absolute;
  left: 10%;
}

header .nav .nav-links .links-trash {
  font-size: 0.9rem;
  font-family: Google-Medium;
  margin-top: 1px;
  margin-bottom: 15px;
  margin-left: 20%;
}

header .nav .nav-links .links-trash .trash-icon {
  width: 25px;
  position: absolute;
  left: 10%;
}

header .nav .nav-links .links-signout {
  padding: 20px 0 0 0;
  font-size: 0.9rem;
  font-family: Google-Medium;
  margin-top: 1px;
  margin-left: 20%;
}

header .nav .nav-links .links-signout .exit-icon {
  width: 25px;
  position: absolute;
  left: 10%;
}

header .nav .links-light {
  color: #616161;
}

header .nav .links-dark {
  color: white;
}

header .nav .open {
  left: -8px;
}

header .light {
  background: white;
  -webkit-box-shadow: 0 1px #cfd8dc;
          box-shadow: 0 1px #cfd8dc;
}

header .dark {
  background: #212121;
  -webkit-box-shadow: 0 1px #424242;
          box-shadow: 0 1px #424242;
}

header .dark .logo {
  color: #eeeeee;
}

@media (min-width: 760px) {
  header .dark .icons .searchbar .search-input {
    background: #616161;
    color: white;
  }
}

header .dark .icons .searchbar ::-webkit-input-placeholder {
  color: #cfd8dc;
}

header .dark .icons .searchbar :-ms-input-placeholder {
  color: #cfd8dc;
}

header .dark .icons .searchbar ::-ms-input-placeholder {
  color: #cfd8dc;
}

header .dark .icons .searchbar ::placeholder {
  color: #cfd8dc;
}

header .dark .nav-links {
  background: #212121;
}

@media (min-width: 1024px) {
  header .dark .nav-links {
    background: transparent;
  }
}
/*# sourceMappingURL=Navbar.css.map */