main .dimensions-reg {
  width: 80%;
  height: auto;
  margin: 5% auto;
  background: white;
  -webkit-box-shadow: 0 0 2px gray;
          box-shadow: 0 0 2px gray;
  border-radius: 10px;
  text-align: center;
}

main .dimensions-reg .register {
  padding-top: 10px;
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: bolder;
  color: #212121;
}

main .dimensions-reg .firstName {
  margin: 30px auto;
  position: relative;
}

main .dimensions-reg .firstName input {
  display: block;
  border: none;
  outline: none;
  margin: 5px auto;
  width: 80%;
  height: 2.7rem;
  -webkit-box-shadow: 0 0 1px gray;
          box-shadow: 0 0 1px gray;
  border-radius: 10px;
  text-indent: 10px;
  text-indent: 35px;
  font-size: 1rem;
}

main .dimensions-reg .firstName ::-webkit-input-placeholder {
  font-size: 1rem;
}

main .dimensions-reg .firstName :-ms-input-placeholder {
  font-size: 1rem;
}

main .dimensions-reg .firstName ::-ms-input-placeholder {
  font-size: 1rem;
}

main .dimensions-reg .firstName ::placeholder {
  font-size: 1rem;
}

main .dimensions-reg .firstName svg {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  margin-left: 12%;
  opacity: 0.5;
}

main .dimensions-reg .lastName {
  margin: 30px auto;
  position: relative;
}

main .dimensions-reg .lastName input {
  display: block;
  border: none;
  outline: none;
  margin: 5px auto;
  width: 80%;
  height: 2.7rem;
  -webkit-box-shadow: 0 0 1px gray;
          box-shadow: 0 0 1px gray;
  border-radius: 10px;
  text-indent: 10px;
  text-indent: 35px;
  font-size: 1rem;
}

main .dimensions-reg .lastName ::-webkit-input-placeholder {
  font-size: 1rem;
}

main .dimensions-reg .lastName :-ms-input-placeholder {
  font-size: 1rem;
}

main .dimensions-reg .lastName ::-ms-input-placeholder {
  font-size: 1rem;
}

main .dimensions-reg .lastName ::placeholder {
  font-size: 1rem;
}

main .dimensions-reg .lastName svg {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  margin-left: 12%;
  opacity: 0.5;
}

main .dimensions-reg .email {
  margin: 30px auto;
  position: relative;
}

main .dimensions-reg .email input {
  display: block;
  border: none;
  outline: none;
  margin: 5px auto;
  width: 80%;
  height: 2.7rem;
  -webkit-box-shadow: 0 0 1px gray;
          box-shadow: 0 0 1px gray;
  border-radius: 10px;
  text-indent: 35px;
  font-size: 1rem;
}

main .dimensions-reg .email ::-webkit-input-placeholder {
  font-size: 1rem;
}

main .dimensions-reg .email :-ms-input-placeholder {
  font-size: 1rem;
}

main .dimensions-reg .email ::-ms-input-placeholder {
  font-size: 1rem;
}

main .dimensions-reg .email ::placeholder {
  font-size: 1rem;
}

main .dimensions-reg .email svg {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  margin-left: 12%;
  opacity: 0.5;
}

main .dimensions-reg .password {
  margin: 30px auto;
  position: relative;
}

main .dimensions-reg .password input {
  display: block;
  border: none;
  outline: none;
  margin: 5px auto;
  width: 80%;
  height: 2.7rem;
  -webkit-box-shadow: 0 0 1px gray;
          box-shadow: 0 0 1px gray;
  border-radius: 10px;
  text-indent: 35px;
  font-size: 1rem;
}

main .dimensions-reg .password ::-webkit-input-placeholder {
  font-size: 1rem;
}

main .dimensions-reg .password :-ms-input-placeholder {
  font-size: 1rem;
}

main .dimensions-reg .password ::-ms-input-placeholder {
  font-size: 1rem;
}

main .dimensions-reg .password ::placeholder {
  font-size: 1rem;
}

main .dimensions-reg .password svg {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  margin-left: 12%;
  opacity: 0.5;
}

main .dimensions-reg .submit-btn {
  margin-bottom: 20px;
  width: 40%;
  height: 30px;
  border: none;
  outline: none;
  background: transparent;
  -webkit-box-shadow: 0 1px 1px gray;
          box-shadow: 0 1px 1px gray;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #212121;
}

main .dimensions-reg .or {
  font-weight: bold;
  color: #1e8ae2;
}

main .dimensions-reg .register-btn {
  margin-bottom: 20px;
  height: 30px;
  border: none;
  outline: none;
  background: transparent;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #212121;
}
/*# sourceMappingURL=register.css.map */