@font-face {
  font-family: "Google-Regular";
  src: url("../../../../assets/fonts/GoogleSans-Medium.ttf");
}

@font-face {
  font-family: "Google-Regular";
  src: url("../../../../assets/fonts/GoogleSans-Regular.ttf");
}

main .dimensions-reg {
  width: 80%;
  height: auto;
  margin: 5% auto;
  background: white;
  -webkit-box-shadow: 0 0 1px gray;
          box-shadow: 0 0 1px gray;
  border-radius: 5px;
  text-align: center;
}

@media (min-width: 1024px) {
  main .dimensions-reg {
    width: 70%;
  }
}

@media (min-width: 1500px) {
  main .dimensions-reg {
    width: 40%;
    margin-top: 5%;
  }
}

main .dimensions-reg .register {
  padding-top: 10px;
  margin-bottom: 20px;
  font-family: Google-Regular;
  font-size: 1.4rem;
  color: #424242;
}

main .dimensions-reg .firstName {
  margin: 30px auto;
  position: relative;
}

main .dimensions-reg .firstName input {
  display: block;
  border: none;
  outline: none;
  margin: 5px auto;
  width: 80%;
  height: 2.7rem;
  -webkit-box-shadow: 0 0 1px gray;
          box-shadow: 0 0 1px gray;
  border-radius: 5px;
  text-indent: 10px;
  text-indent: 35px;
  font-size: 1rem;
  font-family: Google-Regular;
}

@media (min-width: 760px) {
  main .dimensions-reg .firstName input {
    text-indent: 45px;
  }
}

main .dimensions-reg .firstName ::-webkit-input-placeholder {
  font-size: 1rem;
  font-family: Google-Regular;
}

main .dimensions-reg .firstName :-ms-input-placeholder {
  font-size: 1rem;
  font-family: Google-Regular;
}

main .dimensions-reg .firstName ::-ms-input-placeholder {
  font-size: 1rem;
  font-family: Google-Regular;
}

main .dimensions-reg .firstName ::placeholder {
  font-size: 1rem;
  font-family: Google-Regular;
}

main .dimensions-reg .firstName svg {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  margin-left: 12%;
  opacity: 0.5;
}

@media (min-width: 760px) {
  main .dimensions-reg .firstName svg {
    margin-top: 12px;
  }
}

main .dimensions-reg .lastName {
  margin: 30px auto;
  position: relative;
}

main .dimensions-reg .lastName input {
  display: block;
  border: none;
  outline: none;
  margin: 5px auto;
  width: 80%;
  height: 2.7rem;
  -webkit-box-shadow: 0 0 1px gray;
          box-shadow: 0 0 1px gray;
  border-radius: 5px;
  text-indent: 10px;
  text-indent: 35px;
  font-size: 1rem;
  font-family: Google-Regular;
}

@media (min-width: 760px) {
  main .dimensions-reg .lastName input {
    text-indent: 45px;
  }
}

main .dimensions-reg .lastName ::-webkit-input-placeholder {
  font-size: 1rem;
  font-family: Google-Regular;
}

main .dimensions-reg .lastName :-ms-input-placeholder {
  font-size: 1rem;
  font-family: Google-Regular;
}

main .dimensions-reg .lastName ::-ms-input-placeholder {
  font-size: 1rem;
  font-family: Google-Regular;
}

main .dimensions-reg .lastName ::placeholder {
  font-size: 1rem;
  font-family: Google-Regular;
}

main .dimensions-reg .lastName svg {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  margin-left: 12%;
  opacity: 0.5;
}

@media (min-width: 760px) {
  main .dimensions-reg .lastName svg {
    margin-top: 12px;
  }
}

main .dimensions-reg .email {
  margin: 30px auto;
  position: relative;
}

main .dimensions-reg .email input {
  display: block;
  border: none;
  outline: none;
  margin: 5px auto;
  width: 80%;
  height: 2.7rem;
  -webkit-box-shadow: 0 0 1px gray;
          box-shadow: 0 0 1px gray;
  border-radius: 5px;
  text-indent: 35px;
  font-size: 1rem;
  font-family: Google-Regular;
}

@media (min-width: 760px) {
  main .dimensions-reg .email input {
    text-indent: 45px;
  }
}

main .dimensions-reg .email ::-webkit-input-placeholder {
  font-size: 1rem;
  font-family: Google-Regular;
}

main .dimensions-reg .email :-ms-input-placeholder {
  font-size: 1rem;
  font-family: Google-Regular;
}

main .dimensions-reg .email ::-ms-input-placeholder {
  font-size: 1rem;
  font-family: Google-Regular;
}

main .dimensions-reg .email ::placeholder {
  font-size: 1rem;
  font-family: Google-Regular;
}

main .dimensions-reg .email svg {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  margin-left: 12%;
  opacity: 0.5;
}

@media (min-width: 760px) {
  main .dimensions-reg .email svg {
    margin-top: 12px;
  }
}

main .dimensions-reg .password {
  margin: 30px auto;
  position: relative;
}

main .dimensions-reg .password input {
  display: block;
  border: none;
  outline: none;
  margin: 5px auto;
  width: 80%;
  height: 2.7rem;
  -webkit-box-shadow: 0 0 1px gray;
          box-shadow: 0 0 1px gray;
  border-radius: 5px;
  text-indent: 35px;
  font-size: 1rem;
  font-family: Google-Regular;
}

@media (min-width: 760px) {
  main .dimensions-reg .password input {
    text-indent: 45px;
  }
}

main .dimensions-reg .password ::-webkit-input-placeholder {
  font-size: 1rem;
  font-family: Google-Regular;
}

main .dimensions-reg .password :-ms-input-placeholder {
  font-size: 1rem;
  font-family: Google-Regular;
}

main .dimensions-reg .password ::-ms-input-placeholder {
  font-size: 1rem;
  font-family: Google-Regular;
}

main .dimensions-reg .password ::placeholder {
  font-size: 1rem;
  font-family: Google-Regular;
}

main .dimensions-reg .password svg {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  margin-left: 12%;
  opacity: 0.5;
}

@media (min-width: 760px) {
  main .dimensions-reg .password svg {
    margin-top: 12px;
  }
}

main .dimensions-reg .error {
  display: block;
  color: #b71c1c;
  margin-top: -20px;
  font-family: Google-Regular;
  text-align: center;
}

main .dimensions-reg .hidden {
  display: none;
}

main .dimensions-reg .submit-btn {
  margin-bottom: 20px;
  width: 40%;
  height: 30px;
  border: none;
  outline: none;
  background: transparent;
  -webkit-box-shadow: 0 0 1px gray;
          box-shadow: 0 0 1px gray;
  border-radius: 5px;
  font-size: 1.1rem;
  font-family: Google-Regular;
  color: #212121;
}

@media (min-width: 760px) {
  main .dimensions-reg .submit-btn {
    width: 25%;
  }
}

main .dimensions-reg .or {
  font-family: Google-Regular;
  color: #1e8ae2;
  margin-bottom: 10px;
}

main .dimensions-reg .register-btn {
  margin-bottom: 20px;
  border: none;
  outline: none;
  background: transparent;
  border-radius: 10px;
  font-size: 1rem;
  font-family: Google-Regular;
  color: #212121;
}
/*# sourceMappingURL=register.css.map */