main {
    .dimensions-reg {
        width: 80%;
        height: auto;
        margin: 5% auto;
        background: white;
        box-shadow: 0 0 2px gray;
        border-radius: 10px;
        text-align: center;

        .register {
            padding-top: 10px;
            margin-bottom: 20px;
            font-size: 1.4rem;
            font-weight: bolder;
            color: #212121;
        }

        .firstName {
            margin: 30px auto;
            position: relative;

            input {
                display: block;
                border: none;
                outline: none;
                margin: 5px auto;
                width: 80%;
                height: 2.7rem;
                box-shadow: 0 0 1px gray;
                border-radius: 10px;
                text-indent: 10px;
                text-indent: 35px;
                font-size: 1rem;
            }

            ::placeholder {
                font-size: 1rem;
            }

            svg {
                position: absolute;
                top: 0;
                left: 0;
                margin-top: 13px;
                margin-left: 12%;
                opacity: 0.5;                
            }
            
        }

        .lastName {
            margin: 30px auto;
            position: relative;
            
            input {
                display: block;
                border: none;
                outline: none;
                margin: 5px auto;
                width: 80%;
                height: 2.7rem;
                box-shadow: 0 0 1px gray;
                border-radius: 10px;
                text-indent: 10px;
                text-indent: 35px;
                font-size: 1rem;
            }

            ::placeholder {
                font-size: 1rem;
            }

            svg {
                position: absolute;
                top: 0;
                left: 0;
                margin-top: 13px;
                margin-left: 12%;
                opacity: 0.5;                
            }
            
        }

        .email {
            margin: 30px auto;
            position: relative;
            
            input {
                display: block;
                border: none;
                outline: none;
                margin: 5px auto;
                width: 80%;
                height: 2.7rem;
                box-shadow: 0 0 1px gray;
                border-radius: 10px;
                text-indent: 35px;
                font-size: 1rem;
            }

            ::placeholder {
                font-size: 1rem;
            }

            svg {
                position: absolute;
                top: 0;
                left: 0;
                margin-top: 13px;
                margin-left: 12%;
                opacity: 0.5;                
            }
            
        }
        .password {
            margin: 30px auto;
            position: relative;

            input {
                display: block;
                border: none;
                outline: none;
                margin: 5px auto;
                width: 80%;
                height: 2.7rem;
                box-shadow: 0 0 1px gray;
                border-radius: 10px;
                text-indent: 35px;
                font-size: 1rem;
            }

            ::placeholder {
                font-size: 1rem;
            }

            svg {
                position: absolute;
                top: 0;
                left: 0;
                margin-top: 13px;
                margin-left: 12%;
                opacity: 0.5;                
            }
            
        }

        .submit-btn {
            margin-bottom: 20px;
            width: 40%;
            height: 30px;
            border: none;
            outline: none;
            background: transparent;
            box-shadow: 0 1px 1px gray;
            border-radius: 10px;
            font-size: 1.1rem;
            font-weight: bold;
            color: #212121;
        }

        .or {
            font-weight: bold;
            color: #1e8ae2;
        }

        .register-btn {
            margin-bottom: 20px;
            height: 30px;
            border: none;
            outline: none;
            background: transparent;
            border-radius: 10px;
            font-size: 1rem;
            font-weight: bold;
            color: #212121;
        }


    }
}